/* stylelint-disable selector-class-pattern */
div.MMM-Hello-World-Ts {
  padding: 10px;
}
/* stylelint-enable selector-class-pattern */

div.green {
  --font-primary: 'Roboto Condensed';

  color: #ccff90;
}

div.teal {
  color: #a7ffeb;
}
